html {
    height: 100%;
}

body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    border: 2px beige;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  textarea {
    resize: vertical;
  }

  .kembali {
    display: inline-block;
    background-color:bisque;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .kembali::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .kembali:hover {
    background-color:tomato;
  }
  
  .kembali:hover::before {
    opacity: 1;
  }
  
  .kembali a {
    color: black;
    text-decoration: none;
  }
  
  .kembali a:hover {
    text-decoration: none;
  }

  
.Daftar {
    display: inline-block;
    background-color:bisque;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .Daftar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .Daftar:hover {
    background-color:tomato;
  }
  
  .Daftar:hover::before {
    opacity: 1;
  }
  
  .Daftar a {
    color: black;
    text-decoration: none;
  }
  
  .Daftar a:hover {
    text-decoration: none;
  }
  
  